#backtotop {
    cursor : pointer;
    display : none;
    margin : 0px 0px 0px 370px;
    position : fixed;
    bottom : 10px;
    font-size : 90%;
    padding    : 10px;
    width : 100px;
    text-align : center;
    background-color : #000;
    border-radius : 8px;
    -webkit-border-radius : 8px;
    -moz-border-radius : 8px;
    filter : alpha(opacity=60);
    -khtml-opacity : 0.6;
    -moz-opacity : 0.6;
    opacity    : 0.6;
    color : #FFF;
    font-size : 14px;
    z-index    : 1000;
}
#backtotop:hover
{
    filter : alpha(opacity=90);
    -khtml-opacity : 0.9;
    -moz-opacity : 0.9;
    opacity    : 0.9;
}